
import("grid")

import("polyclip")

export("grobPoints",
       "grobPolygon",

       "polyclip")


S3method("grobPoints", "circle")
S3method("grobPoints", "lines")
S3method("grobPoints", "polygon")
S3method("grobPoints", "rect")
S3method("grobPoints", "segments")
S3method("grobPoints", "text")
S3method("grobPoints", "xspline")

S3method("grobPolygon", "gList")
S3method("grobPolygon", "grob")
S3method("grobPolygon", "gTree")

exportMethods("polyclip")
