
import("grid")

import("polyclip")

export("polyclipPath",
       "polyclipPolygon",
       "polyclipLine",

       "polyclip",

       "grid.polyclip",
       "polyclipGrob")


S3method("makeContent", "polyclipgrob")

exportMethods("polyclip")
