
import("grid")

import("polyclip")

importFrom("grDevices", "dev.cur", "dev.set", "pdf")

export("xyListPath",
       "xyListPolygon",
       "xyListLine",

       "polyclip",
       "trim",

       "grid.polyclip",
       "grid.trim",
       "polyclipGrob",
       "trimGrob")


S3method("trim", "default")
S3method("trim", "grob")
         
S3method("makeContent", "polyclipgrob")
S3method("makeContent", "trimgrob")

exportMethods("polyclip")
